.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  .contents-container {
    width: 100%;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "LINESeedKR-Bd";

    .content1 {
      padding: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: #ccc;
    }
  }
}
