.menu {
  .anime-menu {
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #252839;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 25px;

    color: #ffffff;
    transition: all 0.3s ease-in-out;

    .arrow {
      font-size: 30px;
    }
  }
  .anime-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    span {
      cursor: pointer;
      transition: 0.3s;
      user-select: none;
      line-height: 40px;
    }
    span:hover {
      background-color: #252839;
      color: rgb(226, 219, 201);
      border-radius: 5px;
    }
  }
  .close-list {
    visibility: hidden;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    width: 768px;

    .anime-menu {
      width: 100%;
      max-width: 738px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      background-color: #392525;
      font-size: 24px;
      border-radius: 5px;
      color: #e7dede;

      cursor: pointer;
      font-family: "LINESeedKR-Bd";
      .arrow {
        font-size: 40px;
      }
    }
    .anime-list {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      justify-content: center;
      gap: 20px;
      transition: 0.3s all ease-in-out;
      margin-bottom: 20px;
      span {
        cursor: pointer;
        transition: 0.3s;
        user-select: none;
        line-height: 40px;
      }
      span:hover {
        background-color: rgb(78, 78, 84);
        color: goldenrod;
        border-radius: 5px;
      }
    }
    .close-list {
      visibility: hidden;
    }
  }
}
@media screen and (max-width: 426px) {
  .menu {
    width: 425px;

    .anime-menu {
      width: 100%;
      max-width: 395px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      background-color: #392525;
      font-size: 24px;
      border-radius: 5px;
      color: #e7dede;

      cursor: pointer;
      font-family: "LINESeedKR-Bd";
      .arrow {
        font-size: 40px;
      }
    }
    .anime-list {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      justify-content: center;
      gap: 20px;
      transition: 0.3s all ease-in-out;
      margin-bottom: 20px;
      span {
        cursor: pointer;
        transition: 0.3s;
        user-select: none;
        line-height: 40px;
      }
      span:hover {
        background-color: rgb(78, 78, 84);
        color: goldenrod;
        border-radius: 5px;
      }
    }
    .close-list {
      visibility: hidden;
    }
  }
}

@media screen and (max-width: 376px) {
  .menu {
    width: 375px;

    .anime-menu {
      width: 100%;
      max-width: 345px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      background-color: #252839;
      font-size: 24px;
      border-radius: 5px;
      color: #e7dede;

      cursor: pointer;
      font-family: "LINESeedKR-Bd";
      .arrow {
        font-size: 40px;
      }
    }
    .anime-list {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      justify-content: center;
      gap: 20px;
      transition: 0.3s all ease-in-out;
      margin-bottom: 20px;
      span {
        cursor: pointer;
        transition: 0.3s;
        user-select: none;
        line-height: 40px;
      }
      span:hover {
        background-color: rgb(78, 78, 84);
        color: goldenrod;
        border-radius: 5px;
      }
    }
    .close-list {
      visibility: hidden;
    }
  }
}

@media screen and (max-width: 321px) {
  .menu {
    width: 320px;

    .anime-menu {
      width: 100%;
      max-width: 290px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      background-color: #252839;
      font-size: 24px;
      border-radius: 5px;
      color: #e7dede;

      cursor: pointer;
      font-family: "LINESeedKR-Bd";
      .arrow {
        font-size: 40px;
      }
    }

  }
}
