.wrapper {
  width: 100vw;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "LINESeedKR-Bd";
  color: #FFF;

  .navbar-container {
    max-width: 1180px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .block {
      width: 200px;
      height: 200px;
    }
    .menu-container {
      display: flex;
      gap: 90px;
      justify-content: center;
      align-items: center;
      .menu-list {
        display: flex;
        gap: 50px;

        span {
          cursor: pointer;
          font-size: 24px;
          transition: 0.3s;
          user-select: none;
        }
        span:hover {
          color: #df5252;
        }
      }
    }
    .service-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .menu-list {
        display: flex;
        gap: 20px;
        span {
          cursor: pointer;
          font-size: 18px;
          transition: 0.3s;
          user-select: none;
        }
        span:hover {
            color: #df5252;
        }
      }
    }
  }
}

.down-wrapper {
  width: 100vw;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "LINESeedKR-Bd";
  position: fixed;
  background-color: white;
  top: 0;
  .navbar-container {
    max-width: 1180px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-container {
      display: flex;
      gap: 90px;
      justify-content: center;
      align-items: center;

      .menu-list {
        display: flex;
        gap: 50px;

        span {
          cursor: pointer;
          font-size: 24px;
          transition: 0.3s;
        }
        span:hover {
          color: rgb(211, 136, 136);
        }
      }
    }
    .service-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .menu-list {
        display: flex;
        gap: 20px;
        span {
          cursor: pointer;
          font-size: 18px;
          transition: 0.3s;
        }
        span:hover {
          color: rgb(211, 136, 136);
        }
      }
    }
  }
}
